
// whites, blacks & greys
$white: #fff;
$off-white: #f5f5f5;
$off-black: #121212;
$brand-navy: #0a0039;
$mid-grey: #9A9A9A;

// brand colours
$brand-red: #ff5c5c;
$brand-pink: #ee7abb;
$brand-turquoise: #22cae1;
$brand-yellow: #ffe8b4;
$brand-green: #09CA77;
$brand-navy-10: rgba($brand-navy, 0.1);

// functional colours
$green: #019B59;

// active/inactive
$active-state: $green;
$inactive-state: $mid-grey;

// phase banners
$alpha: #E34096;
$beta: #DF6300;
$discovery: #0C9DEF;
$idea: rgba($discovery, 0.25);
$live: $green;
$scoping: rgba($discovery, 0.5);