
// whites, blacks & greys
$white: #fff;
$off-white: #f5f5f5;
$off-black: #121212;
$brand-navy: #0a0039;
$mid-grey: #9A9A9A;

// brand colours
$brand-red: #ff5c5c;
$brand-pink: #ee7abb;
$brand-turquoise: #22cae1;
$brand-yellow: #ffe8b4;
$brand-green: #09CA77;
$brand-navy-5: rgba($brand-navy, 0.05);
$brand-navy-10: rgba($brand-navy, 0.1);
$brand-navy-75: rgba($brand-navy, 0.75);

// functional colours
$green: #019B59;

// active/inactive
$active-state: $green;
$inactive-state: $mid-grey;

// phase banners
$alpha: #FF64BE;
$alpha-label-bg: #FBD0E9;
$alpha-label-text: #990059;

$beta: #FF8000;
$beta-label-bg: #FFD9B3;
$beta-label-text: #663300;

$discovery: #0CA6F3;
$discovery-label-bg: #CEECFD;
$discovery-label-text: #043049;

$idea: #C2E9FC;
$idea-label-bg: #F0FAFE;
$idea-label-text: #043049;

$live: #00B200;
$live-label-bg: #ABEDAB;
$live-label-text: #003906;

$scoping: #86D2F9;
$scoping-label-bg: #E7F6FE;
$scoping-label-text: #043049;