.primary-navigation {
  display: none;
  

  @include media(desktop) {
    display: block;
    float: right;
  }

  a {
    @include body-copy-small;
    font-family: $body-font;
    color: $brand-navy;
    text-decoration: none;

    &.is-active,
    &:hover {
      border-bottom: 1px solid $brand-navy;
    }
  }
}