input.button,
a.button,
.button {
  @include ui-copy;
  box-shadow:rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
  font-family: $body-font-bold;
  padding: 12px 17px 10px 17px;
  font-family: $body-font-bold;
  background-color: $brand-navy;
  border:none;
  border-radius: 5px;
  color:$white;
  display: inline-block;
  width:auto;
  -webkit-appearance: none;
  -webkit-border-radius: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: 100%;

  @include media(tablet) {
    border-radius: 5px;//25px;
    padding: 12px 60px 12px 60px;
    width: auto;
  }

  &.secondary {
    background-color: $brand-navy-5;
    box-shadow:rgba(0, 0, 0, 0.025) 0px 5px 15px 0px;
    color: $brand-navy-75;
    border: 1px solid $brand-navy-10;

    &:hover {
      border: 1px solid $brand-navy-10;
      background-color: $brand-navy-10;
      color:  $brand-navy;
    }
  }

  &:hover {
    transition: background-color 0.2s ease;
    background-color: rgba($brand-navy, 0.85);
    border:none;
    color:$white;
    cursor:pointer;
    text-shadow: none;
    text-decoration: none;
	}
}
