.phase-label {
  @include phase-label-copy;
  font-family: $body-font-bold;
  line-height: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  padding: 0 16px;
  text-align: center;

  &.is-alpha {
    color: $alpha-label-text;
    background-color: $alpha-label-bg;
  }

  &.is-beta {
    color: $beta-label-text;
    background-color: $beta-label-bg;
  }

  &.is-discovery {
    color: $discovery-label-text;
    background-color: $discovery-label-bg;
  }

  &.is-idea {
    background-color: $idea-label-bg;
    border: 1px solid $discovery-label-bg;
  }
  
  &.is-live {
    color: $live-label-text;
    background-color: $live-label-bg;
  }

  &.is-scoping {
    background-color: $scoping-label-bg;
    border: 1px solid $discovery-label-bg;
  }
}