.recipe-navigation {
  @include media(desktop) {
    display: block;
    pointer-events: all;
  }

  a {
    @include body-copy-small;
    text-decoration: none;

    &.is-active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.sticky-container {
  position: sticky; 
  top: $gutter-desktop; 
  height: 280px;
  width: 100%;
  pointer-events: none;
  z-index: 99;
}

.non-sticky-offset-container {
  transform: translateY(-280px - $gutter-desktop);
}