
// config
@import 'config/colours.scss';
@import 'config/variables.scss';

// base
@import 'base/reset.scss';
@import 'base/media-queries';
@import 'base/grid.scss';
@import 'base/helpers.scss';
@import 'base/fonts.scss';
@import 'base/typography.scss';


// components
@import 'components/button.scss';
@import 'components/button-group.scss';
@import 'components/horizontal-list.scss';
@import 'components/phase-banner.scss';
@import 'components/phase-label.scss';
@import 'components/vertical-list.scss';

// modules
@import 'modules/footer.scss';
@import 'modules/header.scss';
@import 'modules/main.scss';
@import 'modules/primary-navigation.scss';
@import 'modules/vertical-spacing.scss';


body {
  @include body-copy-medium;
  color: $brand-navy;
  font-family: $body-font;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  @include heading-large;
  font-family: $display-font;
  margin-bottom: 0.5em;

  &.extra-large {
    @include heading-extra-large;
  }
}

h2 {
  @include heading-medium;
  font-family: $display-font;
  margin-bottom: 1em;
}

h3 {
  @include body-copy-medium;
  font-family: $body-font-bold;
  margin-bottom: 1em;
} 

p {
  @include body-copy-medium;
  margin-bottom: 1em;
  max-width: 740px;
}

strong,
.strong {
  font-family: $body-font-bold;
}

em {
  font-style: italic;
}

ul, ol {
  margin-left: 20px;
  margin-bottom: 1em;
}

li {
  max-width: 740px;
}

a {
  color: $brand-navy;
  text-decoration: underline;

  &.no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  width: 100%;
}

.contains-markdown {
  ul, ol {
    @include vertical-gutter-behaviour($direction: 'bottom', $gutter-count-mobile: 2, $gutter-count-tablet: 2, $gutter-count-desktop: 1, $gutter-count-desktop-large: 1, $gutter-count-cinema: 1);
  }

  h1 + h3,
  h2 + h3,
  p + h3 {
    @include vertical-gutter-behaviour($direction: 'top', $gutter-count-mobile: 2, $gutter-count-tablet: 2, $gutter-count-desktop: 1, $gutter-count-desktop-large: 1, $gutter-count-cinema: 1);
  }

  p + h2,
  ul + h2,
  ol + h2 {
    @include vertical-gutter-behaviour($direction: 'top', $gutter-count-mobile: 4, $gutter-count-tablet: 4, $gutter-count-desktop: 2, $gutter-count-desktop-large: 2, $gutter-count-cinema: 2);
  }

  li {
    margin-bottom: 5px;
  }
}

.body-copy-smallest {
  @include body-copy-smallest;
}

.body-copy-small {
  @include body-copy-small;
}

.body-copy-medium {
  @include body-copy-medium;
}

.body-copy-large {
  @include body-copy-large;
}

.heading-small {
  @include heading-small;
  font-family: $display-font;
  max-width: 760px;
}

.heading-medium {
  @include heading-medium;
  font-family: $display-font;
  margin-left: -1px;
  max-width: 760px;
}

.heading-large {
  @include heading-large;
  font-family: $display-font;
  margin-left: -2px;
  max-width: 760px;
}

.heading-extra-large {
  @include heading-extra-large;
  font-family: $display-font;
  margin-left: -4px;
  max-width: 800px;
}

.ui-copy {
  @include ui-copy;
  font-family: $display-font-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tabular-numbers {
  font-variant-numeric: tabular-nums;
}

.small {
  @include body-copy-small;
}

.force-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.bottom-border {
  border-bottom: 1px solid $brand-navy-10;
}

.top-border {
  border-top: 1px solid $brand-navy-10;
}

.bottom-border-2 {
  border-bottom: 2px solid $brand-navy-10;
}

.top-border-2 {
  border-top: 2px solid $brand-navy-10;
  &.heavy-border {
    border-top-color: $brand-navy;
  }
}

.desktop-only {
  display: none;
  @include media(desktop) {
    display: inline;
  }
}

.logo {
  display: block;
  height: 40px;
}



// styles app (heroku) specific
// (https://catalyst-styles.herokuapp.com/)

.proto-type,
.proto-colors{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.proto-type p {
  margin-bottom: $gutter;
}

.proto-color-swatch {
  border-radius: 50%;
  display: block;
  float: left;

  width: 44px;
  height: 44px;
  margin-right: 11px;

  @include media(desktop) {
    height: 88px;
    width: 88px;
    margin-right: 22px;
  }
}

.proto-style-block {
  display: block;
  margin-bottom: $gutter * 8;
}

.proto-background {
  min-height: 140px;
  background-color: #f5f5f5;

  &.tall {
    min-height: 500px;
  }
}

.proto-color-1 { background-color:$brand-red; }
.proto-color-2 { background-color:$brand-pink; }
.proto-color-3 { background-color:$brand-turquoise; }
.proto-color-4 { background-color:$brand-yellow; }
.proto-color-5 { background-color:$brand-green; }





// pipeline app specific
// (https://pipeline-frontend-272617.appspot.com/)

.pipeline-item {
  position: relative;

  .phase-label {
    position: absolute;
    right: 0;
    top: 4px;

    @include media(desktop) {
      top: 8px;
    }
  }
}

.proto-pipeline-phase {

  @include column-half;
  margin-bottom: $gutter;
  
  @include media(tablet) {
    @include column-one-third;
    margin-bottom: $gutter-tablet;
  }

  @include media(desktop) {
    @include column-one-sixth;
    margin-bottom: $gutter-desktop;
  }
}

.phase-title {
  @include body-copy-medium;
  display: inline-block;
  width: 100%;
  border-top: 10px solid $alpha;
  padding-top: 5px;

  &.is-alpha {
    border-color: $alpha;
  }

  &.is-beta {
    border-color: $beta;
  }

  &.is-discovery {
    border-color: $discovery;
  }

  &.is-idea {
    border-color: $idea;
  }
  
  &.is-live {
    border-color: $live;
  }

  &.is-scoping {
    border-color: $scoping;
  }
}

.phase-count {
  display: inline-block;
  margin-left: 1px;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.state-label {
  @include body-copy-small;
  display: block;
  margin-left: 16px;

  &:before {
    content:'';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    top: 16px;
    left: -16px;
  }

  &.active {
    &:before {
      background-color: $active-state;
    }
  }

  &.inactive {
    &:before {
      background-color: white;
      border: 1px solid $inactive-state;
      width: 8px;
      height: 8px;
    }
  }
}