@font-face {
  font-family: 'LexendDeca-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Inter-Regular-slnt=0.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Semi-Bold';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Inter-SemiBold-slnt=0.ttf') format('truetype');
}