
@mixin columns-responsive-1-2-3-4 {
  grid-template-columns: 1fr;
  @include media(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media(desktop-large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@mixin columns-responsive-1-2-3-3 {
  grid-template-columns: 1fr;
  @include media(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-constraint {
  margin: 0 auto;
  max-width: $grid-max-width;
  padding: 0 $gutter;

  @include media(tablet) {
    padding: 0 $gutter-tablet;
  }

  @include media(desktop) {
    padding: 0 $gutter-desktop;
  }

  @include media(desktop-large) {
    padding: 0 $gutter-desktop-large;
  }
}

.grid-container {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: 1fr;

  @include media(tablet) {
    grid-gap: $gutter-tablet;
  }

  @include media(desktop) {
    grid-gap: $gutter-desktop;
  }

  @include media(desktop-large) {
    grid-gap: $gutter-desktop-large;
  }

  &.columns-responsive-1-2-3-3 {
    @include columns-responsive-1-2-3-3;
  }

  &.columns-responsive-1-2-3-4 {
    @include columns-responsive-1-2-3-4;
  }
}

.grid-item {
  &.is-full-width {
    grid-column: 1/-1;
  }

  &.debug {
    background-color: #f0f0f0;
    padding-top: 100%;
  }
}

